<div class="container background p-5 pt-3 pe-3 ps-0">
  <div class="row justify-content-center my-4">
    <div class="col-8">
      <input type="text" placeholder="جستجوی دوره ها" class="search-bar py-1" /><i class="bx bx-search search-icon"></i>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-2 px-0">
      <app-menu></app-menu>
    </div>
    <div class="col-10">
      <app-voices></app-voices>
    </div>
  </div>

</div>
<div class="container background p-0 pt-5">
  <app-footer></app-footer>
</div>