<div class="container px-0 mx-0 background">
  <div class="row mx-0 full-height">
    <div class="col-8 px-0 mx-0">
      <!-- Multi Column with Form Separator -->
      <div class="card mb-0 px-5 full-height pt-5">
        <h5 class="card-header py-5 text-center">ارتباط با ملودی منتور</h5>
        <form class="card-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="multicol-username">نام</label>
              <input type="text" id="multicol-username" class="form-control text-start" dir="ltr"
                placeholder="نام خود را وارد کنید">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="multicol-username">نام خانوادگی</label>
              <input type="text" id="multicol-username" class="form-control text-start" dir="ltr"
                placeholder="نام خانوادگی خود را وارد کنید">
            </div>
            <div class="col-md-6">
              <label class="form-label" for="multicol-email">ایمیل</label>
              <div class="input-group input-group-merge">
                <input type="text" id="multicol-email" class="form-control text-start" dir="ltr"
                  placeholder="ایمیل خود را وارد کنید" aria-label="john.doe" aria-describedby="multicol-email2">
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="multicol-username">شماره تلفن همراه</label>
              <input type="text" id="multicol-username" class="form-control text-start" dir="ltr"
                placeholder="+۹۸ ۹۱۲ ۲۲۲ ۰۲۰۲">
            </div>
            <div class="col-md-12">
              <label class="form-label" for="multicol-username">پیام</label>
              <input type="text" id="multicol-username" class="form-control text-start" dir="ltr"
                placeholder="پیام خود را وارد کنید.">
            </div>
          </div>
          <hr class="my-4 mx-n4">
          <div class="pt-4">
            <button type="submit" class="btn btn-primary me-sm-3 me-1 px-5 py-2">ثبت</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-4 side-rec mx-0 px-0 pt-5 px-5">
      <span class="contact pt-5">
        <span class="mx-5">ارتباط با ما</span><br>
        هر سوالی دارید کافی است به ما پیام دهید!</span>
    </div>
  </div>
</div>