.background {
  background-color: #dae1eb;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.side-rec {
  background-image: url(../../../../assets/img/side-cont.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.full-height {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.contact {
  text-align: center;
  color: white;
}