<div class="row mb-2">
  <div class="col-md">
    <div class="card mb-3">
      <div class="row g-0 px-4 py-3 pb-0">
        <div class="col-md-5 py-2">
          <img class="card-img card-img-left" src="../../../../assets/img/course3.png" alt="Card image">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title mb-2">نام دوره</h5>
            <p class="card-text">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
            <div class="row">
              <div class="col-auto">
                <i class="blue-text bx bx-user-voice icon"></i>
              </div>
              <div class="col-auto px-0">
                <span class="blue-text">مدرس دوره : آقای ایکس</span>
              </div>
            </div>
            <div class="row">
              <div class="col-auto">
                <i class="blue-text bx bx-time icon"></i>
              </div>
              <div class="col-auto px-0">
                <span class="blue-text">مدت زمان آموزش: ۲ ساعت و ۳۰ دقیقه</span>
              </div>
            </div>
            <div class="row align-items-start">
              <div class="col-auto offset-8">
                <button class="btn px-4 mx-1 btn-register" type="button">
                  <div class="row">
                    <div class="col-auto p-0">
                      <label class="pt-1">شروع یادگیری</label>
                    </div>
                    <div class="col-auto p-0">
                      <i class="next-icon bx bx-chevron-left"></i>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>