.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #d4d8dd;
  border-radius: 0.3125rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.375rem 1.375rem;
}

.card-title {
  margin-bottom: 1.375rem;
}

.card-img-left {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 767.98px) {
  .card-img-left {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}