.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #d4d8dd;
  border-radius: 0.3125rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.375rem 1.375rem;
}

.card-title {
  margin-bottom: 1.375rem;
}

.card-img-left {
  border-radius: 0.8rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.blue-text {
  color: #194F94;
  font-weight: 500;
  font-size: 0.85rem;
}

.icon {
  font-size: 1.5rem !important;
  color: black;
}

.btn-register {
  background-image: linear-gradient(#FF681D, #FF6060);
  border-radius: 3em;
  color: #fff;
  border: none;
  font-weight: 600;
}

.next-icon {
  font-size: 1.9rem;
  font-weight: 600;
}