<div class="container background p-4 mb-3 mt-3">
  <div class="row justify-content-center mb-3">
    <div class="col-auto">
      <span class="title-txt txt">نام دوره</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-auto">
      <span class="txt">قسمت 2</span>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <span class="txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span>
    </div>
  </div>
  <div class="row justify-content-center my-3">
    <div class="col-auto">
      <img src="../../../../assets/img/Line 9.png">
    </div>
  </div>
  <div class="row my-3 me-3 justify-content-between">
    <div class="col-6">
      <span class="txt">مدرس</span>
    </div>
    <div class="col-6 ps-3">
      <span class="txt">آقای ایکس</span>
    </div>
  </div>
  <div class="row my-3 me-3 justify-content-between">
    <div class="col-6">
      <span class="txt">تعداد قسمت ها</span>
    </div>
    <div class="col-6 ps-3">
      <span class="txt">۴ ویدئو</span>
    </div>
  </div>
  <div class="row my-3 me-3 justify-content-between">
    <div class="col-6">
      <span class="txt">مدت زمان آموزش </span>
    </div>
    <div class="col-6 ps-3">
      <span class="txt">۰۲:۳۰:۰۷</span>
    </div>
  </div>
  <div class="row my-3 me-3 justify-content-between">
    <div class="col-6">
      <span class="txt">سطح آموزشی</span>
    </div>
    <div class="col-6 ps-1">
      <span class="txt">مقدماتی تا پیشرفته</span>
    </div>
  </div>
</div>

<div class="container background p-4">
  <div class="row mb-3">
    <span class="txt">توضیحات</span>
  </div>
  <div class="row">
    <span class="txt">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
      روزنامه و مجله در ستون و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
      باشد، کتابهای زیادی شناخت فراوان جامعه و متخصصان را می طلبد و و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
      مورد استفاده قرار گیرد
    </span>
  </div>
</div>