<div class="container container-border course-size p-0">
  <img src={{picUrl}} class="course-img" />
  <div class="row px-4">
    <h6 class=" my-2">نام دوره</h6>
    <p class="detail">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
  </div>
  <div class="row back-gray justify-content-between">
    <label class="mx-4 my-2 col-4"> ۱,۹۹۰,۰۰۰ تومان</label>
    <div class="col-6 btn-box row p-0 py-2">
      <button class="btn btn-register p-0 col-auto p-0 my-auto me-2" type="button">مشاهده بیشتر...</button>
      <i class="bx bxs-cart icon col-auto p-0 my-auto me-2"></i>
    </div>
  </div>
</div>