<div class="container course-list">
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-course-preview-big></app-course-preview-big>
    </div>
  </div>
</div>