.faq-header {
  position: relative;
  background-color: rgba(90, 141, 238, 0.08);
  min-height: 270px !important;
  border-radius: 0.25rem;
  overflow: hidden;
}

.faq-header:before {
  right: -135px;
  transform: rotate(90deg);
}

html:not([dir=rtl]) .faq-header:after {
  right: -1.8rem;
  transform: rotate(45deg);
}

.faq-header:after {
  left: -1.8rem;
  transform: rotate(135deg);
}

.faq-header .input-wrapper {
  position: relative;
  width: 100%;
  max-width: 55%;
}

.faq-header .input-wrapper .input-group-text,
.faq-header .input-wrapper .form-control {
  border-color: transparent;
}

@media (max-width: 575.98px) {
  .faq-header .input-wrapper {
    max-width: 70%;
  }
}

.faq-nav-icon {
  font-size: 1.25rem;
}

.light-style .bg-faq-section {
  background-color: rgba(38, 60, 85, 0.06);
}

.dark-style .bg-faq-section {
  background-color: rgba(99, 123, 169, 0.08);
}