<div class="row header-row justify-content-between">
  <div class="col-3 pt-2">
    <span class="header-txt">قسمت ها - 4 قسمت</span>
  </div>
  <div class="col-1 px-0">
    <button type="button" class="btn p-0"><i class="bx bx-lock-open-alt header-txt lock"></i></button>
    <button type="button" class="btn p-0"><i class="bx bx-chevron-down header-txt arrow"></i></button>
  </div>
</div>

<ul class="px-0">
  <li class="list">
    <div class="row session-row justify-content-between py-2">
      <div class="col-3">
        <span class="header-txt">نام قسمت - 1</span>
      </div>
      <div class="col-1 px-0">
        <button type="button" class="btn p-0 me-1"><i class="bx bxs-caret-right-circle session-play"></i></button>
        <button type="button" class="btn p-0 me-2"><i class="bx bx-lock-open-alt session-lock"></i></button>
      </div>
    </div>
  </li>
  <li class="list">
    <div class="row session-row justify-content-between py-2">
      <div class="col-3">
        <span class="header-txt">نام قسمت - 1</span>
      </div>
      <div class="col-1 px-0">
        <button type="button" class="btn p-0 me-1"><i class="bx bxs-caret-right-circle session-play"></i></button>
        <button type="button" class="btn p-0 me-2"><i class="bx bx-lock-open-alt session-lock"></i></button>
      </div>
    </div>
  </li>
  <li class="list">
    <div class="row session-row justify-content-between py-2">
      <div class="col-3">
        <span class="header-txt">نام قسمت - 1</span>
      </div>
      <div class="col-1 px-0">
        <button type="button" class="btn p-0 me-1"><i class="bx bxs-caret-right-circle session-play"></i></button>
        <button type="button" class="btn p-0 me-2"><i class="bx bx-lock-open-alt session-lock"></i></button>
      </div>
    </div>
  </li>
  <li class="list">
    <div class="row session-row justify-content-between py-2">
      <div class="col-3">
        <span class="header-txt">نام قسمت - 1</span>
      </div>
      <div class="col-1 px-0">
        <button type="button" class="btn p-0 me-1"><i class="bx bxs-caret-right-circle session-play"></i></button>
        <button type="button" class="btn p-0 me-2"><i class="bx bx-lock-open-alt session-lock"></i></button>
      </div>
    </div>
  </li>
</ul>