<div class="container">
  <div class="card mb-5">
    <div class="row justify-content-between">
      <div class="col-auto py-2 px-5 mt-2 header">
        دوره ها
      </div>
      <div class="col-auto py-2 px-5">
        <div class="btn-group">
          <span class="mx-3 mt-2">مرتب سازی بر اساس : </span>
          <button type="button" class="btn btn-warning dropdown-toggle px-2" data-bs-toggle="dropdown"
            aria-expanded="false">
            پیش‌فرض
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0);">عمل</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">عمل دیگر</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);">یک عمل دیگر</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 px-5">
    <app-course-preview-big></app-course-preview-big>
  </div>
  <div class="row mb-5 px-5">
    <app-course-preview-big></app-course-preview-big>
  </div>
  <div class="row mb-5 px-5">
    <app-course-preview-big></app-course-preview-big>
  </div>

</div>