<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <app-course-preview-big></app-course-preview-big>
  </div>
</div>