<!-- Audio Player -->
<div class="col-12">
  <div class="card">
    <h5 class="card-header">تمرین دوره پاپ جلسه ۱ - اسم تمرین</h5>
    <div class="row">
      <div class="col-10">
        <div class="card-body">
          <p>
            توضیحات در مورد تمرین لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
            گرافیک
            است و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
          </p>
          <audio class="w-100" id="plyr-audio-player" controls>
            <source src="./assets/audio/Water_Lily.mp3" type="audio/mp3" />
          </audio>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-secondary rounded-3 mx-2 mb-3 mt-3">پخش با صدا</button>
        <button type="button" class="btn btn-primary rounded-3">پخش بدون صدا</button>
      </div>
    </div>
  </div>
</div>
<!-- /Audio Player -->