<div class="container background p-5 pt-3 pe-3 ps-0">
  <div class="row justify-content-around">
    <div class="col-2 px-0 mt-4">
      <app-menu></app-menu>
    </div>
    <div class="col-9">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
          <img src="../../../../assets/img/flat-lay-business-desk-frame 1.png">
        </div>
        <div class="row">
          <div class="col-md-12">

            <!-- Change Password -->
            <div class="card mb-4">
              <ul class="nav nav-pills flex-column flex-md-row mt-2 mx-2">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/profile" routerLinkActive="true"><i class="bx bx-user me-1"></i>
                    حساب</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/change-password" routerLinkActive="true"><i
                      class="bx bx-lock-alt me-1"></i> امنیت</a>
                </li>
              </ul>
              <h5 class="card-header">تغییر رمز عبور</h5>
              <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                  <div class="row">
                    <div class="mb-3 col-md-6 form-password-toggle">
                      <label class="form-label" for="currentPassword">رمز عبور کنونی</label>
                      <div class="input-group input-group-merge">
                        <input class="form-control text-start" dir="ltr" type="password" name="currentPassword"
                          id="currentPassword" placeholder="············">
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-md-6 form-password-toggle">
                      <label class="form-label" for="newPassword">رمز عبور جدید</label>
                      <div class="input-group input-group-merge">
                        <input class="form-control text-start" dir="ltr" type="password" id="newPassword"
                          name="newPassword" placeholder="············">
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                      </div>
                    </div>

                    <div class="mb-3 col-md-6 form-password-toggle">
                      <label class="form-label" for="confirmPassword">تایید رمز عبور جدید</label>
                      <div class="input-group input-group-merge">
                        <input class="form-control text-start" dir="ltr" type="password" name="confirmPassword"
                          id="confirmPassword" placeholder="············">
                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                      </div>
                    </div>
                    <div class="col-12 mb-4">
                      <p class="fw-semibold mt-2">الزامات رمز عبور:</p>
                      <ul class="ps-3 mb-0 lh-1-85">
                        <li class="mb-1">حداقل 8 کاراکتر - هرچه بیشتر، بهتر</li>
                        <li class="mb-1">حداقل یک کاراکتر با حرف کوچک</li>
                        <li>حداقل یک عدد، نماد یا کاراکتر فاصله</li>
                      </ul>
                    </div>
                    <div class="col-12 mt-1">
                      <button type="submit" class="btn btn-primary me-2">ذخیره تغییرات</button>
                      <button type="reset" class="btn btn-label-secondary">انصراف</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--/ Change Password -->
          </div>
        </div>
      </div>
      <!-- / Content -->
    </div>
  </div>

</div>
<div class="container background p-0 pt-5">
  <app-footer></app-footer>
</div>