<div class="container background p-5 mb-0">
  <div class="row mb-4">
    <span class="txt">تمرین این جلسه :</span>
  </div>
  <div class="row justify-content-center">
    <div class="card p-3 px-5 col-11">
      <span>
        توضیح تکلیف و نحوه انجام و ارسال آن
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
        بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
        هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی شناخت فراوان جامعه و متخصصان را می طلبد و در این صورت می توان
        امید داشت که تمام و دشواری موجود در ارائه راهکارها به پایان رسد و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
        اساسا مورد استفاده قرار گیرد.
      </span>
    </div>
  </div>
</div>