<div class="row blue-line mb-0">
  <div style="width: 100%; height: 100%; background: linear-gradient(123deg, #063981 0%, #5695CE 100%)"></div>
</div>
<div class="container background p-5 pt-3 pe-3">
  <div class="row">
    <div class="col-3 px-0">
      <app-course-description></app-course-description>
    </div>
    <div class="col-8 me-5">
      <app-video-player></app-video-player>
    </div>
  </div>
</div>
<div class="row blue-line mb-0">
  <div style="width: 100%; height: 100%; background: linear-gradient(123deg, #063981 0%, #5695CE 100%)"></div>
</div>
<div class="container background p-0">
  <app-footer></app-footer>
</div>