<div class="container mt-2 mb-5">
  <div class="row justify-content-center">
    <h3 class="course-header col-auto">جدید ترین دوره های ملودی منتور</h3>
  </div>
  <!-- <div class="swiper-container" id="swiper-multiple-slides">
    <div class="swiper-wrapper">
      <app-course-preview class=" swiper-slide py-0"
        [picUrl]="'../../../../assets/img/course-1.png'"></app-course-preview>

      <app-course-preview class=" swiper-slide py-0"
        [picUrl]="'../../../../assets/img/course2.png'"></app-course-preview>

      <app-course-preview class=" swiper-slide py-0"
        [picUrl]="'../../../../assets/img/course3.png'"></app-course-preview>

      <app-course-preview class=" swiper-slide py-0"
        [picUrl]="'../../../../assets/img/course-1.png'"></app-course-preview>

    </div>
    <div class="swiper-pagination"></div>
  </div> -->
  <div class="swiper-container height" id="swiper-multiple-slides">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-color: transparent;">
        <app-course-preview [picUrl]="'../../../../assets/img/course2.png'"></app-course-preview>
      </div>
      <div class="swiper-slide" style="background-color: transparent;">
        <app-course-preview [picUrl]="'../../../../assets/img/course-1.png'"></app-course-preview>
      </div>
      <div class="swiper-slide" style="background-color: transparent;">
        <app-course-preview [picUrl]="'../../../../assets/img/course3.png'"></app-course-preview>
      </div>
      <div class="swiper-slide" style="background-color: transparent;">
        <app-course-preview [picUrl]="'../../../../assets/img/course2.png'"></app-course-preview>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>