<div class="container mt-2 mb-5">
  <div class="row justify-content-center">
    <h3 class="course-header col-auto">جدید ترین دوره های ملودی منتور</h3>
  </div>
  <div class="row mt-5 justify-content-around mb-5">
    <app-course-preview class="col-3" [picUrl]="'../../../../assets/img/course-1.png'"></app-course-preview>
    <app-course-preview class="col-3" [picUrl]="'../../../../assets/img/course2.png'"></app-course-preview>
    <app-course-preview class="col-3" [picUrl]="'../../../../assets/img/course3.png'"></app-course-preview>
  </div>
</div>