<div class="col-12 mb-4">
  <h6 class="text-muted mt-3">جلوه کاور 3 بعدی</h6>
  <div class="swiper-container" id="swiper-multiple-slides">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(../../../../assets/img/course-1.png)">
        اسلاید 1
      </div>
      <div class="swiper-slide" style="background-image: url(../../../../assets/img/course2.png)">
        اسلاید 2
      </div>
      <div class="swiper-slide swiper-slide-active" style="background-image: url(../../../../assets/img/course3.png)">
        اسلاید 3
      </div>
      <div class="swiper-slide" style="background-image: url(../../../../assets/img/course4.png)">
        اسلاید 4
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>